body {
font-family: 'Open Sans', sans-serif;
font-weight: 300;
}

.gameGrid, .row {
    width: 80%;
    margin: auto;
}

h2 {
    text-align: center;
    font-weight: 300;
    font-size: 3em;
    
}

.bold {
    font-weight: 700;
}

.scores {
    width: 300px;
    margin: auto;
    text-align: center;
    
}


.mainBox {
    padding-top: 50px;

}
.row{
    display: flex;
    justify-content: center;
}


.cell {
    width: 200px;
    height: 200px;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    padding: .25em 0 0 0;
    font-size: 3em;
    text-transform: uppercase;
    font-weight: 700;
}

.br {
    border-right: 2px #eee;
}

.bb {
    border-bottom: 2px #eee;
}

.bl {
    border-left: 2px #eee;
}

.bt {
    border-top: 2px #eee;
}


.message {
    margin-top: 20px;
    text-align: center;
}

#overlay {
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    text-align: center;
    padding: 40px;
    margin: 10%;
    width: 70%;
    height: 70%;
 /*   width: 300px;
    height: 270px; */
    background: rgba(255,255,255,.7);
    -moz-box-shadow:    0px 0px 3px 3px #ccc;
  -webkit-box-shadow: 0px 0px 3px 3px #ccc;
  box-shadow:         0px 0px 3px 3px #ccc;
  /*  margin: auto; */
}

.wrap {
    margin:auto;
    width: 80%;
    height: 65%;
    padding-top: 15%;
}

@media (max-width: 599px) {
.gameGrid, .row {
    width: 90%;
    margin: auto;
}
}
